- name: Install common packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop: "{{ common_packages }}"

- name: Load required kernel modules 
  community.general.modprobe:
    name: "{{ item }}"
    state: present
  loop: "{{ kernel_modules }}"

- name: Configuration sysctl for kubernetes
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: /etc/sysctl.d/kubernetes.conf
    reload: yes
  with_dict:
    net.ipv4.ip_forward: 1
    net.bridge.bridge-nf-call-iptables: 1
    net.bridge.bridge-nf-call-ip6tables: 1

- name: Disable swap 
  ansible.builtin.command: 
    swapoff -a

- name: Disable swap in fstab
  replace:
    path: /etc/fstab
    regexp: '^.*swap.*$'
    replace: '#\0'
    